* {
  box-sizing: border-box;
}

.parent {
  display: flex;
  align-items: center;
  gap: 40px;
  padding: 20px;
  border: 1px dotted black;
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.item.red {
  width: 150px;
  height: 150px;
  background-color: red;
  transform: translateX(-50px);
  transition: background-color 1s, color 1s;
}

.item.red:hover {
  background-color: aquamarine;
  color: black;
}

.item.green {
  width: 100px;
  height: 100px;
  background-color: green;
  animation: spin 1s infinite linear;
}

.item.green:hover {
  animation-play-state: paused;
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.item.blue {
  width: 50px;
  height: 50px;
  background-color: blue;
  transform: scale(0.5);
}

.item.orange {
  width: 150px;
  height: 150px;
  background-color: orange;
  transform: skew(20deg, 10deg);
}
